<spl-modal-container>
  <div class="modal-container">
    <button class="close-button" (click)="close()">x</button>
    <div class="modal-body-container">
      <div class="modal-body-header">SETTINGS</div>
      <div class="currency-div">
        <label for="currencies" class="currency-label">Currency: </label>
        <select name="currencies" class="currency-select" [(ngModel)]="currency">
          <option *ngFor="let listedCurrency of allCurrency" [ngValue]="listedCurrency">{{ listedCurrency }}</option>
        </select>
      </div>

      <div class="ecr-threshold-div">
        <label for="ecr-threshold" class="threshold-label">
          ECR Threshold:
        </label>
        <input name="ecr-threshold" class="modal-input ecr-threshold-input" type="number" [(ngModel)]="ecrThreshold">
      </div>

      <div class="winrate-threshold-div">
        <label for="winrate-threshold" class="threshold-label">
          Win Rate Threshold:
        </label>
        <input name="winrate-threshold" class="modal-input winrate-threshold-input" type="number" [(ngModel)]="winRateThreshold">
      </div>

      <div class="threshold-color-div">
        <label class="threshold-color-label" for="aboveThreshold">Above Threshold: </label>
        <input class="color-picker-input" type="color" name="aboveThreshold" [(ngModel)]="aboveThreshold">
      </div>

      <div class="threshold-color-div">
        <label class="threshold-color-label" for="belowThreshold">Below Threshold: </label>
        <input class="color-picker-input" type="color" name="belowThreshold" [(ngModel)]="belowThreshold">
      </div>


      <div class="headers-title">
        Headers:
      </div>
      <div class="headers-container">


        <label class="checkbox-container" *ngFor="let playerTableDataHeaderSetting of playerTableDataHeaderSettings">
          {{ playerTableDataHeaderSetting.header }}
          <input type="checkbox" [checked]="playerTableDataHeaderSetting.isActive" (change)="playerTableDataHeaderSetting.isActive = !playerTableDataHeaderSetting.isActive">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="settings-button-container">
        <button class="settings-button" (click)="save()">
          SAVE
        </button>

        <button class="settings-button" (click)="cancel()">
          CANCEL
        </button>
      </div>
    </div>
  </div>
</spl-modal-container>
