.navbar {
  overflow: hidden;
  background-color: #14192f;
  border: #232a46 solid 1px;
  height: var(--navbar-height);
  width: 100%;
  position: fixed;
  display: flex;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 48px;
  width: 100%;
}

.navbar-brand {
  display: flex;
}

.navbar-brand-icon {
  padding: 0px 4px;
  width: 35px;
  height: 35px;
}

.navbar-title {
  color: white;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Quicksand', 'sans-serif';
  text-decoration: none;
  margin-left: 5px;
  align-items: center;
  display: flex;
}

.navbar-buttons {
  display: flex;
}

.navbar-button {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  font-weight: 600;
  margin: 0px 4px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 8px;
}

.donate-button {
  background-color: aquamarine;
  border: aquamarine;
  margin-right: 20px;
}

.donate-button-icon {
  vertical-align: middle;
}

.settings-button {
  background-color: #eb933a;
}
