<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img class="navbar-icon" src="assets/images/lc_logo.png" alt="lc_logo" width="30" height="30">
      <div class="navbar-title">SPL TRACKER</div>
    </div>

    <div class="navbar-buttons">
      <button (click)="donateButtonClicked()" class="navbar-button donate-button">Buy me a coffee</button>
      <button (click)="settingsButtonClicked()" class="navbar-button settings-button">SETTINGS</button>
    </div>
  </div>
</nav>
