

<div class="container">

  <spl-navbar class="" (pressedDonateButton)="donateButtonClicked()" (pressedSettingsBUtton)="settingsButtonClicked()">
  </spl-navbar>


  <div class="grid-container">
    <spl-grid-column [title]="'TOTAL ACCOUNTS'" [mainBodyText]="viewModel.totalAccounts">
    </spl-grid-column>

    <spl-grid-column [title]="'TOTAL DEC'" [mainBodyText]="viewModel.totalDec" [subBodyText]="viewModel.totalDecInNative">
    </spl-grid-column>

    <spl-grid-column [title]="'TOTAL SPS'" [mainBodyText]="viewModel.totalSps" [subBodyText]="viewModel.totalSpsInNative">
    </spl-grid-column>

    <spl-grid-column [title]="'TOTAL STAKED SPS'" [mainBodyText]="viewModel.totalStakedSps" [subBodyText]="viewModel.totalStakedSpsInNative">
    </spl-grid-column>

    <spl-grid-column [title]="'END OF SEASON'" [mainBodyText]="viewModel.endOfSeason" [subBodyText]="'DAYS : HRS : MIN'">
    </spl-grid-column>

    <spl-grid-column [title]="'TOTAL ASSETS'" [mainBodyText]="viewModel.totalAssets">
    </spl-grid-column>

    <spl-grid-column [title]="'DEC RATE'" [mainBodyText]="viewModel.decRate">
    </spl-grid-column>

    <spl-grid-column [title]="'SPS RATE'" [mainBodyText]="viewModel.spsRate">
    </spl-grid-column>
  </div>

  <div class="table-container">
    <p class="table-accounts-text">ACCOUNTS</p>

    <div class="table-buttons">
      <button class="table-button refresh-button" (click)="refresh()">REFRESH</button>
      <button class="table-button" (click)="addNewAccount()">ADD</button>
    </div>

    <table>
      <tr>
        <th>#</th>
        <th>USERNAME</th>
        <th>ECR (%)</th>
        <th>WIN RATE (%)</th>
        <th>RANK</th>
        <th>RATING</th>
        <th>POWER</th>
        <th>DEC</th>
        <th>SPS</th>
        <th>STAKED SPS</th>
        <th>CREDITS</th>
      </tr>

      <tr *ngFor="let playerTableData of viewModel.players">
        <td>
          {{ playerTableData.number }}
        </td>
        <td>
          {{ playerTableData.username }}
        </td>
        <td>
          {{ playerTableData.ecr }}
        </td>
        <td>
          {{ playerTableData.winRate }}
        </td>
        <td>
          {{ playerTableData.rank }}
        </td>
        <td>
          {{ playerTableData.rating }}
        </td>
        <td>
          {{ playerTableData.power }}
        </td>
        <td>
          {{ playerTableData.dec }}
        </td>
        <td>
          {{ playerTableData.sps}}
        </td>
        <td>
          {{ playerTableData.stakedSps }}
        </td>
        <td>
          {{ playerTableData.credits }}
        </td>
      </tr>
    </table>
  </div>
</div>
